@model List<Web.Models.Model.CategoryModel>
<div class="well">
    <h4>Categories</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
                    @foreach (var category in Model)
                    {
                        <li>
                            @Html.ActionLink(category.Name + "("+  category.CountPost + ")", "GetPostByCategory", "Category", new { category.Id }, null)
                        </li>
                    }
            </ul>
        </div>
    </div>
</div>

