@model List<DAL.Entities.Post>

@{
    ViewBag.Title = Model[0].Category.Name;
}

@foreach (var post in Model)
{
    <h2>
        <a href="#">@post.Title</a>
    </h2>
    <p class="lead">
        by <a href="index.php">@post.User.Name</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on @post.DateTime.ToShortTimeString()</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>@post.ShortDescription</p>
    <a class="btn btn-primary" href="/post/detail/@post.Id">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
}
